* {
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
  }


  body {
    display: flex;
    flex-direction: row;
    background-color: #e8e8e8;
    text-align: center;
    z-index: -1;
    
    
    
  }

.right {
    flex: 3;
    /* clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 13% 83%); */
    background: radial-gradient(circle, #197278 75%, #283d3b 100%);
}
  .col-1 {
    
    flex: .5;
    background-color:#CBF3F0;
    background: radial-gradient(circle, #197278 75%, #283d3b 100%);
    text-align: left;
    margin-left: 0%;
    margin-top: 0%;
    position:auto;
    clip-path: polygon(0% 0%, 79% 0, 100% 51%, 77% 100%, 0% 100%);
    z-index: 0;
    padding-left: 1em;
    overflow: visible;
    
  
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    
    width: auto;
    
    
    

    
    
  }

  .content {
    display: flex;
    flex-direction: row;
    
    
  
  }

  .content > article {
    flex: 5;
    align-content: center;
    
    
    
  
  }

  /* header,
  footer {
    background: #e0f0ea;
    border-radius: 5%;
    height: 20vh;
  }  */


   header,
  footer,
  article,
  nav {
    padding: 1em;
  }



  .dropbtn {
    background-color: #9f1300;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    position: fixed;
    margin-right: 2em;
    font-weight: bold;
    z-index: 4;
  }
  

.dropdown {
    position: left;
    display: inline-block;
  }
  
  
.dropdown-content {
    display: none;
    position: fixed;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5; 
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: lightgray;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: lightgray;}

.framed {
    box-shadow: -50px -50px 0 -40px #9f1300, 50px 50px 0 -40px #9f1300;
    border-radius: 5%;
}

.more {color: #197278;}

.container1 {
    background-color: #197278;
    box-shadow: 5px 5px 10px 2px grey;
    padding-bottom: 1em;
    text-align: center;
    border-radius: 5%;
    margin: 0 1em;
    width: fit-content;
    color: #e0f0ea; 
    
    /* margin-left: 15%; */
    /* display:grid; */
}

.container1 h1 {
    background-color: #283d3b;
    font-size: large;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #e0f0ea;
    
}

.project {padding-right: 2em;
padding-left: 2em;}

.project img{width:10%}

.container2 {
    background-color: #197278;
    box-shadow: 5px 5px 10px 2px grey;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 5%;
    margin: 0 1em;
    align-content: center; 
    /* width: 100%; */
    
}

.row {display: flex;
  align-items: center;

  
}
.iconcontainer {width:100%;
  align-self: auto;
  padding-left: 5em; 
  
  

}


.icon {
  color:#e0f0ea;
  font-weight: bolder;
  padding: 5em;
  text-align: center;
}

.icon img {scale: 110%; width: 100px}


.containerz {
  background-color: #197278;
  box-shadow: 5px 5px 10px 2px grey;
  padding-bottom: 2em;
  text-align: center;
  border-radius: 5%;
  margin: 0 1em;
  /* width: 100%; */
  
}

.containerz h1 {
  background-color: #283d3b;
  overflow: hidden;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #e0f0ea;
  
}

.containerz img {
  transition: transform .2s;
  margin: 0 1em;
}

.containerz img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);

}

.container2 img {
    transition: transform .2s;
    margin: 0 1em;}

.container2 img:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);

}

.container2 h1 {
    background-color: #283d3b;
    overflow: hidden;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #e0f0ea;
    
}

.contact {
    text-align: left;
    padding-left: .5em;
    padding-top: 1.5em;
    padding-right: 1em;
    overflow: auto;
    border-radius: 5%;
    position: fixed;
    margin-top: 5%;
    color: #e0f0ea;
    z-index: 2;

}

.contact img { box-shadow: -50px -50px 0 -40px #9f1300, 50px 50px 0 -40px #9f1300;
  border-radius: 5%;}




.section1{
    border-radius: 5%;
    padding-top: 1em;
    margin: 0 -5px;
    
}

.section2 {
   
    border-radius: 5%;
    /* padding-right: 5em; */
    padding-top: 1em;}

.section2 img {width: 50%;}

.section3{
    border-radius: 5%;
    /* display: flex;
    display: contents; */
    padding: 1em;
    align-items: center;
    /* flex-direction: row;  */
    
   
    }

.section3 img{width: 750px;}

.fa {
    width: 1em;
    text-align: center;
    text-decoration: none;
    color: #9f1300;
    z-index: 4;
  }

  .containery {display: none;}

    
   @media screen and (max-width: 1124px) {

      body {flex-direction: column; background-color: rgb(165, 195, 185);}
    /* width: 1vw;} */

      .section3 img{width: 300px;}
      .section3 {width: 95%;
        flex-direction: column; align-items: center;
     } 
    .col-1 {
      clip-path: inset(0 0 0 0); text-align: center; width: 100%;}

      .content {
      text-align: center; width: 100%;}
     .dropdown {margin-top: 0%; margin-right: 0%; position: fixed;font-size: xx-large;} 
    
  .section2 {
    /* margin-left: 1em; */
  padding-bottom: 1em;}

  .section2 img{width: 70vw;}
  
  

.dropbtn {margin-left: 0px; z-index: 2; font-size: large;
    } 

  
    
  .right{ display: none;
     }
    
.contact2 {position: relative;
  width: fit-content;
    margin-top: 20%;
  padding-bottom: 2em;
text-align: center;} 
.containerz {width: 95vw;border-radius: 5%;
margin: 0%;} 

.containery {
  display:inline-block;
  background-color: #197278;
  box-shadow: 5px 5px 10px 2px grey;
  padding-bottom: 2em;
  text-align: center;
  border-radius: 5%;
  /* margin: 0 1em; */
  width: 90%; 
  padding-right: 2vw;
  font-size: medium;
  background: radial-gradient(circle, #197278 75%, #283d3b 100%);
  
}
.container2 {text-align: center; font-size: large;width: 95vw; margin: 0%;}
.icon span{transform: translateX(1); 
  padding-left: 7%;} 
.icon img{
  width: 15vw;
  }
.more {font-size: medium;} 
.about {font-size: medium;
width: 90vw;}  
.section1 {margin-left: 0%;}
.container1 {width: 100%; font-size: large;}

} 